.input {
    display:inline-block;
    position: relative;
    top: 10px;
    left: 10px;
}

.display{
    border: solid;
    display:inline-block;
    width: 1050px;
    height: 300px;
    padding: 5px;
    text-align: center;
    position: relative;
    left:275px;
    top: 55px;
}

.list {
    position:relative;
    right: 30px;
    bottom:270px;
    width: 300px;
    text-align: center;
}

header { 
    text-align: center;
    background-color:blue;
    color: white;
    padding: 20px;
    border: solid white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    background-color:white;
    color:black;
}


.row {
    position: relative;
    left: 137px;
    
    width: 1050px;
}

.inputValue {
    width: 400px;
    
}

h3 {
    position: relative;
    
    right: 70px;
    
}